/* General Styles */
body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Layout Container */
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin: 50px auto;
    padding: 20px;
    font-size: 1.3em;
}

/* Text Section */
.text-section {
    flex: 1;
    max-width: 500px;
    padding: 20px;
}

.text-section h1 {
    
    margin-bottom: 15px;
    font-size: 2.3em;
}

.text-section p {
    font-size: 16px;
    color: #b0b0b0;
    margin-bottom: 15px;
    line-height: 30px;
}

/* Button */
.contact-btn {
    background: rgb(75, 144, 255);
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;

}

.contact-btn:hover {
    opacity: .5;
    color: black;
    transform: scale(1.1);
}

/* Box-Based Image Section */
.image-section {

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main Box */
.main-box {
    position: relative;
    width: 300px;
    height: 430px;
    background-color: #fff8cd;
    border-radius: 10px;
}


.top-right {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 120px;
    background-color: #007BFF;
    top:11%;
    right: -20%;
}

.bottom-left {
    position: absolute;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 150px;
    background-color: #FF5733;
    bottom:11%;
    left: -30%;
}

/* Responsive Design */
@media (max-width: 868px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .image-section {
        margin-top: 20px 10%;
        width: 60vw;
        /* height: 50vh; */
        height: 200px;
        
    }
    .top-right{
        width: 80px;
    height: 80px;
    }
    .bottom-left{
        width:150px;
    height: 100px;
    }
}

